
@{
    ViewData["Title"] = "Dangky";
    Layout = "";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BookTickets</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="~/asset/image/x-icon" href="~/asset/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/asset/css/magnific-popup.css">
    <link rel="stylesheet" href="~/asset/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/asset/css/themify-icons.css">
    <link rel="stylesheet" href="~/asset/css/nice-select.css">
    <link rel="stylesheet" href="~/asset/css/flaticon.css">
    <link rel="stylesheet" href="~/asset/css/gijgo.css">
    <link rel="stylesheet" href="~/asset/css/animate.css">
    <link rel="stylesheet" href="~/asset/css/slicknav.css">
    <link rel="stylesheet" href="~/asset/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<div class="row" style="margin-top:100px;">
    
    <div class="col-lg-7">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Đăng ký </h1>
            </div>
            <form class="user">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                               placeholder="Họ và tên">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                               placeholder="Số điện thoại">
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                           placeholder="Email Address">
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="password" class="form-control form-control-user"
                               id="exampleInputPassword" placeholder="Mật khẩu">
                    </div>
                    <div class="col-sm-6">
                        <input type="password" class="form-control form-control-user"
                               id="exampleRepeatPassword" placeholder="Nhập lại mật khẩu">
                    </div>
                </div>
                <a href="#" class="btn btn-primary btn-user btn-block">
                    Đăng ký
                </a>
                <hr>
                
            </form>
            <hr>
            <div class="text-center">
                <a class="small" href="forgot-password.html">Quên mật khẩu?</a>
            </div>
            <div class="text-center">
                <a class="small" asp-controller="Nguoidung" asp-action="Dangnhap">Đã có tài khoản!</a>
            </div>
        </div>
    </div>
</div>
















