
@{
    ViewData["Title"] = "Dangnhap";
    Layout = "";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BookTickets</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="~/asset/image/x-icon" href="~/asset/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/asset/css/magnific-popup.css">
    <link rel="stylesheet" href="~/asset/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/asset/css/themify-icons.css">
    <link rel="stylesheet" href="~/asset/css/nice-select.css">
    <link rel="stylesheet" href="~/asset/css/flaticon.css">
    <link rel="stylesheet" href="~/asset/css/gijgo.css">
    <link rel="stylesheet" href="~/asset/css/animate.css">
    <link rel="stylesheet" href="~/asset/css/slicknav.css">
    <link rel="stylesheet" href="~/asset/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Đăng nhập</h1>
                                    <h4>@ViewBag.Thongbao</h4>
                                </div>

                                <form class="user">
                                    @using (Html.BeginForm())
                                        {
                                            @Html.ValidationSummary(true)
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user"
                                                       id="exampleInputEmail" aria-describedby="emailHelp" name="Taikhoan"
                                                       placeholder="Nhập số điện thoại...">
                                                @ViewData["Loi1"]
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                       id="exampleInputPassword" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck" name="Matkhau">
                                                    @ViewData["Loi2"]
                                                    <label class="custom-control-label" for="customCheck">
                                                        Remember
                                                        Me
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn" asp-controller="Home" asp-action="Index">Đăng nhập</button>
                                        }
                                    
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="#">Quên mật khẩu?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" asp-controller="Nguoidung" asp-action="Dangky">Đăng ký!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

