<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản Lý</title>

    <!-- Custom fonts for this template-->
    <link href="~/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Admin/css/sb-admin-2.min.css" rel="stylesheet">
</head>
    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Quản Lý</div>
                </a>

                <!-- Nav Item - Tables -->
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminMovies" asp-action="Index">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Danh sách phim</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Thể loại</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminTickets" asp-action="Index">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Vé</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminRooms" asp-action="Index">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Phòng</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminShowtimes" asp-action="Index">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Lịch chiếu</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminOders" asp-action="Index">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Đơn hàng</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminKhachhangs" asp-action="Index">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Khách hàng</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Roles</span>
                    </a>
                </li>
                

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->
            


            <div style="float:right; padding-right:300px;">
                @RenderBody()
            </div>
            
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        

        
        
        
    
    <!-- Bootstrap core JavaScript-->
    <script src="~/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Admin/js/demo/chart-area-demo.js"></script>
    <script src="~/Admin/js/demo/chart-pie-demo.js"></script>



    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
