@{
    ViewData["Title"] = "Home Page";
}

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1" style="width=900px; height:350px;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3 style="color:aqua;">Đặt Vé Online</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- offers_area_start -->
<div class="offers_area">
    <div class="container">
        <br>
        <br>
        <h2>Movie Hot</h2>
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="~/asset/img/offers/onepiece.jpg" alt="">
                    </div>
                        <h3>
                            OnePiece <br />
                            Trận chiến cuối cùng
                        </h3>
                        <ul>
                            <li>Nước sản xuất: Nhật bản</li>
                            <li>Năm sản xuất: 2019</li>
                            <li>Thời lượng: 1tiếng 30 phút</li>
                        </ul>
                        <a asp-controller="Product" asp-action="Detail" class="book_now">book now</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="~/asset/img/offers/bogia.jpg" alt="">
                    </div>
                    <h3>
                        Up to 35% savings on Club <br>
                        rooms and Suites
                    </h3>
                    <ul>
                        <li>Luxaries condition</li>
                        <li>3 Adults & 2 Children size</li>
                        <li>Sea view side</li>
                    </ul>
                    <a href="#" class="book_now">book now</a>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_offers">
                    <div class="about_thumb">
                        <img src="~/asset/img/offers/naruto.png" alt="">
                    </div>
                    <h3>
                        Up to 35% savings on Club <br>
                        rooms and Suites
                    </h3>
                    <ul>
                        <li>Luxaries condition</li>
                        <li>3 Adults & 2 Children size</li>
                        <li>Sea view side</li>
                    </ul>
                    <a href="#" class="book_now">book now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offers_area_end -->
