@model IEnumerable<BookTickets.Models.Oder>

@{
    ViewData["Title"] = "Thanh toans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="~/NewFolder/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="~/NewFolder/css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="~/NewFolder/css/style.min.css" rel="stylesheet">

<body class="grey lighten-3">

    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="my-5 h2 text-center">Thanh Toán</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-8 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <form class="card-body">
                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <label for="country">Hình thức thanh toán</label>
                                    <select class="custom-select d-block w-100" id="country" required>
                                        <option value="">Choose...</option>
                                        <option>Thanh toán Online</option>
                                        <option>Thanh toán tại quầy</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>

                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4">

                                    <label for="state">Ví</label>
                                    <select class="custom-select d-block w-100" id="state" required>
                                        <option value="">Choose...</option>
                                        <option>PayPal</option>
                                        <option>Momo</option>
                                        <option>Viettel Pay</option>
                                    </select>

                                </div>
                                <!--Grid column-->
                            </div>


                            <button class="btn btn-primary btn-lg btn-block" type="submit">Tiếp tục thanh toán</button>

                        </form>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <!-- Heading -->
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Chi tiết</span>
                    </h4>

                    <!-- Cart -->
                    <ul class="list-group mb-3 z-depth-1">
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">One Piece</h6>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Số lượng vé</h6>
                            </div>
                            <span class="text-muted">1</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between">
                            <span>Tổng</span>
                            <strong>50000 vnđ</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!--Main layout-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="~/NewFolder/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/NewFolder/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/NewFolder/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/NewFolder/js/mdb.min.js"></script>
</body>
